<link href="~/css/login.css" rel="stylesheet" />
<form class="login">
    <input id="username" placeholder="Username" />
    <input id="password" placeholder="Password" type="password" />
    <button type="submit" id="login">Login</button>
</form>

@section Scripts{
    <script src="~/js/login.js"></script>
}