<link href="~/css/register.css" rel="stylesheet"/>
<form class="register">
    <input id="username" placeholder="Username" />
    <input id="password" placeholder="Password" type="password"/>
    <input id="confirm-password" placeholder="Confirm Password" type="password"/>
    <input id="first-name" placeholder="First Name" />
    <input id="last-name" placeholder="Last Name" />
    <input id="egn" placeholder="EGN" />
    <input id="address" placeholder="Address" />
    <button type="submit" id="register">Register</button>
</form>

@section Scripts{
    <script src="~/js/register.js"></script>
}